.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* For screen width 320px - 425px, show 2 cards per row */
@media (min-width: 320px) and (max-width: 550px) {
  .grid-cols-responsive {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2px;
  }
}

/* For screen width 600px - 1024px, show 3 cards per row */
@media (min-width:500px) and (max-width: 1024px) {
  .grid-cols-responsive {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 20px;
  }
}
